
	.weather_app {
		background-image: url('../../images/bg-image-weather.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 100vh;

		.weather-section {
			background: rgba(0,0,0,.1);
			width: 100%;
			max-width: 800px;
			border: 2px solid #fff;
			border-radius: 25px;
			box-shadow: 4px 6px 6px 7px rgba(0,0,0,.1);
			height: -webkit-max-content;
			height: max-content;
			padding: 0;

			.leftWrap{
				border-radius: 25px;
				width: 40% ;
				transition: transform .3s ease;
				transform: translateZ(0) scale(1.02) perspective(1000px);
				background: #000e1b;
				box-shadow: -1px 1px 9px 14px rgb(0 0 0 / 30%);
	
				.dateWrap {
					.dateDay, .locationName {
						display: block;
					}
				}
			}
	
			.rightSide{
				width: 60% ;
	
				.humidityWrap{
					border-radius: 10px;
					background-color: rgba(0,0,0,0.5);
				}
			}
		}
	}