.weather_app {
    background-image: url("../../images/bg-image-weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    .title {
        color: #000e1b;
    }

    .weather-section {
        background: rgba(0, 0, 0, 0.1);
        width: 50%;
        border: 2px solid #fff;
        border-radius: 25px;
        box-shadow: 4px 6px 6px 7px rgba(0, 0, 0, 0.1);
        height: -webkit-max-content;
        height: max-content;
        padding: 0;

        .leftWrap {
            border-radius: 25px;
            width: 400px;
            transition: transform 0.3s ease;
            transform: translateZ(0) scale(1.02) perspective(1000px);
            background-color: #000e1b;
            box-shadow: -1px 1px 9px 14px rgb(0 0 0 / 30%);

            .dateWrap {
                .dateDay,
                .locationName {
                    display: block;
                }
            }
        }

        .rightSide {
            .humidityWrap {
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.5);
            }

            .cardWrap {
                background: rgba(0, 0, 0, 0.2);
                border-radius: 15px;
                margin-bottom: 25px;

                .cardList {
                    list-style-type: none;
                    padding: 0;
                    margin: 10px 0;

                    .card {
                        float: left;
                        padding: 15px;
                        cursor: pointer;
                        transition: 0.2s ease;

                        &:hover {
                            background: #fff;
                            border-radius: 10px;
                            transform: scale(1.01);
                            box-shadow: 0 0 40px -5px #0003;
                        }
                    }

                    .active {
                        background: #fff;
                        border-radius: 10px;
                    }

                    .day-icon {
                        display: block;
                        height: 40px;
                        width: auto;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .chart-section {
        width: 50%;
        background: lightgray;
        border-radius: 20px;
        padding: 10px;
    }
}
