.weather_app {
    background-image: url("../../images/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;

    .weather_container {
        background-color: rgb(19 34 48 / 80%);
        height: 100vh;

        .header {
            // background-color: rgb(176 196 222 / 30%);
            height: 120px;

            .image_wrapper {
                width: 100px;
            }
        }
    
        .container {
            margin: 20px;
        }

        .wether-details {
            // background-image: url("../../images/1KLD.gif");
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-position: center;    
            border-radius: 20px;
            width: 100%;
              background-color: rgb(176 196 222 / 30%);

            .dateWrap {
                .dateDay,
                .locationName {
                    display: block;
                }
            }
        }

        .slider {
            .cardWrap {
                // background: rgba(0, 0, 0, 0.2);
                border-radius: 15px;
                margin-bottom: 25px;

                .cardList {
                    list-style-type: none;
                    padding: 0;
                    margin: 10px 0;

                    .card {
                        float: left;
                        padding: 5px;
                        margin: 10px;
                        cursor: pointer;
                        transition: 0.2s ease;
                        background: #ffffffa1;
                        border-radius: 10px;


                        &:hover {
                            background: #ffffff;
                            border-radius: 10px;
                            transform: scale(1.01);
                            box-shadow: 0 0 40px -5px #0003;
                        }

                        &.active {
                            background: #ffffff;
                            border-radius: 10px;
                        }
                    }
                    .day-icon {
                        display: block;
                        height: 40px;
                        width: auto;
                        margin: 0 auto;
                    }
                }
            }
        }
    
    }
    .chart-section {
        width: 50%;
        background: lightgray;
        border-radius: 20px;
        padding: 10px;
    }
}
